@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Lily+Script+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');
@import 'tailwindcss';

.italliano {
  font-family: 'Italianno', sans-serif;
}
.lily {
  font-family: 'Lily Script One', sans-serif;
}
.lily-light {
  font-family: 'Lily Script One', sans-serif;
  font-weight: 300;
  font-size: 45px;
}
.lily-light2 {
  font-family: 'Lily Script One', sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.orange {
  background: rgb(255, 136, 0);
}
@media screen and (max-width: 768px) {
  .lily-light {
    font-size: 35px;
  }
  .lily-light2 {
    font-size: 35px;
  }
  .orange {
    background: none;
  }
}
@media screen and (max-width: 480px) {
  .lily-light {
    font-size: 35px;
  }
  .lily-light2 {
    font-size: 35px;
  }
  .orange {
    background: none;
  }
}

.browm {
  background-color: #3c1010;
}

.wheat {
  background-color: #f6efef;
}
